/* HospitalList.css */

#hospital {
    margin: 20px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
  }
  
  .hospital-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .hospital-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .hospital-address {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .hospital-button {
    background-color: #148714;
    color: #fff;
    border: 2px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .hospital-button:hover {
    background-color: #0056b3;
    color: #fff;
    border: 2px;
    padding: 5px 10px;
  }